<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')  %> 

<body>

    <%- include('./partials/nav.ejs')  %>

    <div class="about content">

        <h2> About us</h2>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, tempore!</p>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus facilis maiores tempore consequatur dolorem nobis ut, assumenda pariatur sed neque, provident amet cum sequi? Ad!</p>
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae laboriosam quaerat iusto eligendi sint eveniet error molestiae voluptate illo dignissimos.</p>
    </div>
    
    <%- include('./partials/footer.ejs')  %>
</body>
</html>